<div class="container">

	<div class="row">

		<div class="col-lg-12">
			<h1 class="page-header">About </h1>
		</div>

	</div>

	<div class="row">

		<div class="col-md-6">
				<video
				controls
				poster="images/poster_video.jpg"
				onclick="this.play();"
				src="videos/Aquanis_Final HD1080.mp4"
				type="video/mp4"
				class="plasma-image"
				></video>
		</div>
		<div class="col-md-6">
			<h2>Our Mission</h2>

			<p>
				Aquanis’ mission is to reduce the cost of wind energy by improving the aerodynamic performance of wind turbines. Our blade-mounted
				plasma actuators extend the turbine’s service life and enable the design of larger, more efficient turbines, by countering
				unsteady aerodynamic forces.
			</p>

		</div>

	</div>

	<!-- Team Member Profiles -->

	<div class="row">

		<div class="col-lg-12">
			<h2 class="page-header">Our Team</h2>
		</div>

		<div class="col-sm-4">
			<img class="img-responsive" src="images/Neal_Fine_250.jpg" width="200">

			<h3>Neal E. Fine
				<small>Founder & CEO</small>
			</h3>
			<p>
				Neal has over 20 years of experience in research and development in fluid dynamics and aeronautical systems, in the defense,
				marine, aviation and energy industries. He earned his PhD at MIT in Marine Hydrodynamics.
			</p>
			</br>
			<p class="text-left">
				<a href="https://www.linkedin.com/in/nealfine" target="_blank">
					<img src="images/linked-in.jpg" />
				</a>
			</p>

		</div>

		<div class="col-sm-4">
			<img class="img-responsive" src="images/shmulik.jpg" width="200px">

			<h3>Shmuel Halevi
				<small>President</small>
			</h3>
			<p>
				Shmuel has over 30 years of experience in business formation and development as an entrepreneur, executive and management
				consultant. He earned a BS degree in Electrical Engineering from Technion (Israel) and an MBA from MIT’s Sloan School
				of Management.
			</p>
			<p class="text-left">
				<a href="https://www.linkedin.com/in/shmuel-halevi-8a274" target="_blank">
					<img src="images/linked-in.jpg" />
				</a>
			</p>

		</div>

		<div class="col-sm-4">
			<img class="img-responsive" src="images/Cooney.jpg" width="200px;">

			<h3>John A. Cooney
				<small>CTO</small>
			</h3>
			<p>
				John is a subject matter expert in aerodynamics, experimental and computational methods, and plasma flow control. He earned
				his PhD at the University of Notre Dame in Aerospace Engineering.
			</p>
			<br/>
			<p class="text-left">
				<a href="https://www.linkedin.com/in/john-cooney" target="_blank">
					<img src="images/linked-in.jpg" />
				</a>
			</p>
		</div>

	</div>

	<!-- Our Customers -->

</div>
<!-- /.container -->