<div class="container about">
	<div class="row">
		<div class="col-md-6  col-md-push-6" align="right">
			<h3 class="page-header" align="right" dir="rtl">דר&quot; יאיר גורצק MD, MSC</h3>
		</div>
		<div class="col-md-6 col-md-pull-6">
			<h3 class="page-header-eng">
				Dr. Yair Gortzak MD, MSc
			</h3>
		</div>

	</div>
	<div class="row">
		<div class="col-md-6  col-md-push-6" align="right">

			<div class="TasmcParagraph-heb text-justify">
				</br>
				<P dir="rtl">ד&quot;ר יאיר גורצק, מומחה בכירורגיה אורטופדית, מנהל השירות לאורטופדיה אונקולוגית בילדים ביחידה הארצית לאורטופדיה אונקולוגית,
					המרכז הרפואי תל אביב ע&quot;ש סוראסקי (איכילוב). </p>

				<p dir="rtl">
					השתלם באורתופדיה אונקולוגית בבי&quot;ח הר סיני/אוניברסיטת טורונטו בין השנים 2007-2009, לאחר שסיים התמחות באורתופדיה כללית
					בבית החולים סורוקה בשנת 2006.
				</p>

				<p dir="rtl">
					בעל ניסיון רב באורתופדיה אמבולטורית, אורטופדית ילדים וטראומה אורתופדית. פועל כרופא עצמאי במסגרת קופות החולים.
				</p>
				<p dir="rtl">
					שימש כפוסק בוועדות של המוסד לביטוח לאומי בין השנים 2009-2015, ומעניק חוות דעת משפטיות בתחום האורתופדיה והאורתופדיה האונקולוגית.
				</p>
				<p dir="rtl">
					<a href="https://www.ncbi.nlm.nih.gov/pubmed?term=gortzak+y[All%20Fields]&cmd=DetailsSearch">פרסומים מדעיים</a>
				</p>
			</div>
		</div>

		<div class="col-md-6 col-md-pull-6">
			<div class="dividerLine">
				<div class="TasmcParagraph text-justify">
					</br>
					<p>
						Dr. Yair Gortzak, MD, MSc, Orthopedic Surgeon, Head of Pediatric Orthopedic Oncology Service, the National Unit of Orthopedic
						Oncology, the Tel-Aviv Sourasky Medical Center (Ichilov).
					</p>

					<p>
						Dr. Gortzak attended his internship at the Mount Sinai Medical Center in Toronto, Canada (2007-2009) following his internship
						in General Orthopedics at the Soroka Medical Center during 2006. Dr. Gortzak is an expert in Ambulatory Orthopedics,
						Pediatric Orthopedics and trauma.

					</p>

					<p>
						Dr. Gortzak works with Israel's various HMO's and has served as an Adjudicator on various Israel's National Health Institute
						committees determining disability. Dr. Gortzak is a recognized court expert in General Orthopedics as well as Orthopedic
						Oncology.
					</p>
					<p>
						<a href="https://www.ncbi.nlm.nih.gov/pubmed?term=gortzak+y[All%20Fields]&cmd=DetailsSearch">Publications on PubMed</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.container -->