<div class="container about">
	<div class="row">
		<div class="col-md-6  col-md-push-6" align="right">
			<h3 class="page-header" align="right" dir="rtl">דר&quot; יאיר גורצק MD, MSC</h3>
		</div>
		<div class="col-md-6 col-md-pull-6">
			<h3 class="page-header-eng">
				Dr. Yair Gortzak MD, MSc
			</h3>
		</div>

	</div>
	<div class="row">
		<div class="col-md-6  col-md-push-6" align="right">

			<div class="TasmcParagraph-heb text-justify">
				</br>
				<P dir="rtl">
					ד&quot;ר יאיר גורצק, מומחה בכירורגיה אורתופדית, מנהל השירות לאורתופדיה אונקולוגית בילדים ביחידה הארצית לאורתופדיה אונקולוגית,
					המרכז הרפואי תל אביב ע"ש סוראסקי (איכילוב).
					<p dir="rtl">
						ד&quot;ר גורצק למד רפואה באוניברסיטת בן גוריון בנגב, באר שבע, לאחר ביצוע שנת הסטאז&lsquo; המשיך להתמחות בכירורגיה אורתופדית
						במרכז הרפואי &quot;סורוקה&quot; בבאר שבע, אותו סיים בשנת 2006. השתלם באורתופדיה אונקולוגית בבי"ח הר סיני/אוניברסיטת
						טורונטו, קנדה בין השנים 2007-2009, ועם חזרתו ארצה הצטרף לצוות היחידה הארצית לאורתופדיה אונקולוגית במרכז הרפואי תל אביב.
					</p>

					<p dir="rtl">
						בעל ניסיון רב באורתופדיה אמבולטורית, אורתופדית ילדים וטראומה אורתופדית. פועל כרופא עצמאי במסגרת הביטוחים המשלימים של קופות
						החולים השונות. שימש כפוסק בוועדות של המוסד לביטוח לאומי בין השנים 2009-2015, ומעניק חוות דעת משפטיות בתחום האורתופדיה
						והאורתופדיה האונקולוגית.
					</p>

			</div>
		</div>

		<div class="col-md-6 col-md-pull-6">
			<div class="dividerLine">
				<div class="TasmcParagraph text-justify">
					</br>
					<p>
						Dr. Yair Gortzak, MD, MSc, Orthopedic Surgeon, Head of Pediatric Orthopedic Oncology Service, the National Unit of Orthopedic
						Oncology, the Tel-Aviv Sourasky Medical Center.
					</p>

					<p>
						Dr. Gortzak studied medicine at the Ben Gurion University of the Negev, followed by a residency in orthopedic surgery at
						the Soroka Medical Center, Beer Sheva, Israel during the years 2000-2006. He completed a combined clinical and research
						fellowship in orthopedic oncology at the Mount Sinai Hospital/University of Toronto, Canada (2007-2009), and since
						then has been an integral part of the National Unit of Orthopedic Oncology in Tel Aviv. Dr. Gortzak has a vast experience
						in general orthopedics surgery, including orthopedic trauma and pediatric orthopedic surgery.

					</p>

					<p>
						Dr. Gortzak works with Israel's various HMO's and has served on Israel's National Health Institute Workers Disabilities Committees.
						Dr. Gortzak provides independent medical opinions for disability claims in general orthopedics as well as orthopedic
						oncology.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.container -->