<style>
	.has-error {
		border: 1px solid red;
	}

	.tor {
		margin-bottom: 30px;
		margin-top: 15px;
	}
</style>
<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-md-6  col-md-push-6" align="right">
			<h3 dir="rtl" class="page-header">מידע לקביעת תורים עם ד"ר גורצק </h3>
			<p class="tor" dir="rtl">
				ניתן לקבוע תור פרטי או במסגרת הביטוח של כללית מושלם.
				<a href="http://www.clalit.co.il/he/Pages/default.aspx">
					<img src="images/clalit.png" alt="" />
				</a>
			</p>
			<p class="tor" dir="rtl">
				זכרון יעקוב: מרפאת עלמה, רחוב השמורה 1, בימי א&lsquo;. לתיאום תור נא להתקשר לטלפון 052-7360221.
				<a href="https://goo.gl/maps/DZQGpjHb15L2" target="_blank">לצפיה בּמפה לחץ כאן</a>

			</p>
			<p class="tor" dir="rtl">
				רעננה: מרכז רפואי השרון, במרכז המסחרי פוזין, רח&lsquo; אחוזה 124 ברעננה, בימי ג&lsquo;. לתיאום תורים יש לפנות לטלפון 072-2646055
				או לנייד 052-736-0221.

				<a href="https://goo.gl/maps/P8YtgfeXqPk" target="_blank">לצפיה בּמפה לחץ כאן</a>
			</p>
			<p class="tor" dir="rtl">
				ניתוחים פרטיים מתבצעים בבית החולים אסותא, רמת החייל, תל-אביב או בהרצליה מדיקל סנטר, הרצליה.
			</p>
		</div>
		<div class="col-md-6 col-md-pull-6">
			<h3 class="page-header-eng"> To Schedule an appointment with Dr. Gortzak </h3>
			<div class="dividerLine">
				<p class="tor">
					You can schedule a private appointment or via Clalit Mushlam.
					<a href="http://www.clalit.co.il/he/Pages/default.aspx">
						<img src="images/clalit.png" alt="" />
					</a>
				</p>
				<p class="tor">
					Zichron Yaakov: Alma Clinic, Ha'Shmura 1 St. Zichron Yaakov, Sunday. Please call 052-736-0221.
					<a href="https://goo.gl/maps/pbeiBQeiAyG2" target="_blank">Click here to see a map</a>
				</p>
				<p class="tor">
					Ra'nana: Merkaz Refui Hasharon, Pozin House, 124 Achuza St. Ra'anana, Tuesdays. Please call 072-2646055, or 052-7360221.
					<br>
					<a href="https://goo.gl/maps/qDs6c7LaEGC2" target="_blank">Click here to see a map</a>
					<a href="https://www.waze.com/livemap?zoom=15&lat=32.1808&lon=34.874&from_lat=32.1808&from_lon=34.874&to_lat=32.1808&to_lon=34.874&at_req=0&at_text=Now"
					 target="_blank">Click here to see a map</a>
				</p>
				<p class="tor">
					Private Surgery is conducted at the Assuta Medical Center, Tel Aviv or the Herzliya Medical Center in Herzliya.
				</p>
			</div>
		</div>
	</div>

</div>
<!-- /.container -->