<style>
	.intro {
		display: table;
		width: 100%;
		height: 630px;
		padding: 20px 0 0 20px;
		text-align: center;
		color: white;
		background: url("./images/intro-bg.jpg") no-repeat bottom center scroll;
		background-color: black;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
	}

	.intro .intro-body {
		display: table-cell;
		vertical-align: middle;
	}

	.intro .intro-body .brand-heading {
		font-size: 40px;
	}

	.intro .intro-body .intro-text {
		font-size: 18px;
	}

	li {
		font-size: 18px;
	}

	.home-image {
		width: 15%;
		margin-right: 20px;
	}

	.li-heb {
		margin-right: 40px;
	}

	.navbar-inverse .navbar-nav>li>a {
		color: #9d9d9d;
	}
</style>
<!-- Home -->
<div class="container-fluid">
	<div class="intro">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<img align="right" class="home-image" src="images/yair_bw.png" alt="Yair" />
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6  col-sm-push-6" align="right">
						<h3 dir="rtl">ד"ר יאיר גורצק, MD, MSc, מומחה בכירורגיה אורטופדית, אורתופדיה אונקולוגית
							<br>
							<span dir="rtl">תחומי טיפול:&nbsp;
								<span>
						</h3>
						<div>
							<ul>
								<li class="li-heb" dir="rtl">אורתופדיה אונקולוגית
									<ul>
										<li class="li-heb" dir="rtl">
											טיפול בגידולי עצם ממאירים ושפירים
										</li>
										<li class="li-heb" dir="rtl">
											טיפול בגידולי רקמה רכה ממאירים ושפירים
										</li>
										<li class="li-heb" dir="rtl">
											טיפול במחלה גרורתית לעצם
										</li>
									</ul>
								</li>
								<li class="li-heb" dir="rtl">אבחון וייעוץ אורתופדי כללית
									<ul>
										<li class="li-heb" dir="rtl">
											מחלות עצמות ופרקים
										</li>
										<li class="li-heb" dir="rtl">
											אורתופדית ילדים
										</li>
										<li class="li-heb" dir="rtl">
											בטראומה אורתופדית
										</li>
									</ul>
								</li>
								<li class="li-heb" dir="rtl">
									שחזורים מורכבים, לאחר טראומה או החלפת מפרקים
								</li>
								<li class="li-heb" dir="rtl">
									מתן חוות דעת משפטית באורתופדיה כללית ואורתופדיה אונקולוגית
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6  col-sm-pull-6" align="left">
						<div class="dividerLine">
							<h3>Dr. Yair Gortzak, MD, MSc, Orthopedic Surgeon,Orthopedic Oncology
								<br> Consultation available:</h3>
							<div>
								<ul>
									<li>
										Orthopedic Oncology
										<ul>
											<li>
												Benign and malignant bone tumors
											</li>
											<li>
												Benign and malignant soft tissue tumors
											</li>
											<li>
												Metastatic bone disease
											</li>
										</ul>
									</li>

									<li>
										Bone and joint diseases
										<ul>
											<li>
												Pediatric Orthopedics
											</li>
											<li>
												Orthopedic trauma
											</li>
											<li>
												Bone and joint diseases
											</li>
										</ul>
									</li>
									<li>
										Complex reconstruction after joint and trauma surgery
									</li>
									<li>
										Independent Medical Opinion in disability claims
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>