<style>
	.intro {
		display: table;
		width: 100%;
		height: 630px;
		padding: 20px 0 0 20px;
		text-align: center;
		color: white;
		background: url("./images/intro-bg.jpg") no-repeat bottom center scroll;
		background-color: black;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
	}
	
	.intro .intro-body {
		display: table-cell;
		vertical-align: middle;
	}
	
	.intro .intro-body .brand-heading {
		font-size: 40px;
	}
	
	.intro .intro-body .intro-text {
		font-size: 18px;
	}
	
	li {
		font-size: 18px;
	}
	
	.home-image {
		width: 15%;
		margin-right: 20px;
	}
	
	.li-heb {
		margin-right: 40px;
	}
	
	.navbar-inverse .navbar-nav>li>a {
		color: #9d9d9d;
	}
</style>
<!-- Home -->
<div class="container-fluid">
	<div class="intro">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<img align="right" class="home-image" src="images/yair_bw.png" alt="Yair" />
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6  col-sm-push-6" align="right">
						<h3 dir="rtl">ד"ר יאיר גורצק, MD, MSc, מומחה בכירורגיה אורטופדית
							<br>
							<span dir="rtl">תחומי טיפול:&nbsp;<span>
						</h3>
						<div> 
							<ul>
								<li class="li-heb" dir="rtl">
									אורטופדיה אונקולוגית	
								</li>
								<li class="li-heb" dir="rtl">
									אבחון וייעוץ אורטופדי
								</li>
								<li class="li-heb" dir="rtl">
									כירורגיה אורטופדית.
								</li>
								<li class="li-heb" dir="rtl">
									טיפול בבעיות אורטופדיות.
								</li>
								<li class="li-heb" dir="rtl">
									אורטופדיית ילדים
								</li>
								<li class="li-heb" dir="rtl">
									ניתוחי מפרקים
								</li>
								<li class="li-heb" dir="rtl">
									טיפול בטראומה אורטופדית
								</li>
								<li class="li-heb" dir="rtl">
									טיפול במחלות עצמות ופרקים
								</li>
								<li class="li-heb" dir="rtl">
									טיפול בבעיות רגליים בילדים
								</li>
								<li class="li-heb" dir="rtl">
									ניתוחים אורטופדיים בילדים
								</li>
								<li class="li-heb" dir="rtl">
									ניתוח שברים
								</li>
								<li class="li-heb" dir="rtl">
									מתן חוות דעת משפטית
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6  col-sm-pull-6" align="left">
						<div class="dividerLine">
							<h3>Dr. Yair Gortzak, MD, MSc, Orthopedic Surgeon.<br> Consultation available:</h3>
							<div>
								<ul>
									<li>
										Orthopedic Oncology 
									</li>
									<li>
										Orthopedic diagnostics and consultation.
									</li>
									<li>
										Orthopedic Surgery.
									</li>
									<li>
										Orthopedic related disorders.
									</li>
									<li>
										Pediatric Orthopedics
									</li>
									<li>
										Joint related surgery
									</li>
									<li>
										Orthopedic trauma
									</li>
									<li>
										Bone and joint diseases
									</li>
									<li>
										Pediatric leg dysfunction
									</li>
									<li>
										Pediatric surgery
									</li>
									<li>
										Fracture Surgery
									</li>
									<li>
										Court Expert Opinion
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>