<span dir="rtl"></span>
<span dir="ltr"></span> &quot;
<span dir="ltr">(.</span><span dir="rtl">איכילוב</span><span dir="ltr"></span>)<span dir="rtl">מומחה בכירורגיה אורטופדית, מנהל השירות לאורטופדיה אונקולוגית בילדים ביחידה הארצית לאורטופדיה אונקולוגית, המרכז הרפואי תל אביב ע"ש סוראסקי </span>
<span
    dir="rtl">ד"ר יאיר גורצק</span><span dir="ltr">MD, MSc</span>
    <P dir="rtl">ד"ר יאיר גורצק, MD, MSc, מומחה בכירורגיה אורטופדית, מנהל השירות לאורטופדיה אונקולוגית בילדים ביחידה הארצית לאורטופדיה
        אונקולוגית, המרכז הרפואי תל אביב ע"ש סוראסקי (איכילוב). </p>