.top{
    margin-top: 70px;
}
.hobbies li{
    width: 200px;
    height:50px;
}
.hobbies button {
    margin: 0 0 0 10px;
    float: right;
}
.post {
    margin:10px 0 0 10px;
}
.post p {
    width:500px;
}
hr {
    border-top-color: #000
}