<div class="container">

	<div class="row">

		<div class="col-lg-12">
			<h1 class="page-header">News </h1>
		</div>

	</div>

	<div class="row">

		<div class="col-sm-offset-2 col-sm-8 col-sm-offset-2">
				<div class="well well-lg">
						<h4>February 2018: Aquanis receives  <a href="Aquanis Press 02.08.18 FINAL CLEAN.pdf" target="_blank">strategic wind industry seed investment.</a></h4>
					</div>
			<div class="well well-lg">
				<h4>December, 2016: Aquanis awarded SBIR Phase I grant from the <a href="http://ripr.org/post/extending-life-wind-turbines" target="_blank">National Science Foundation.<span><img src="images/nsf4.gif" width="50"></span></a> </h4>
			</div>
			<div class="well well-lg">
				<h4>November, 2016: Aquanis awarded <a href="http://www.providencejournal.com/news/20161122/ri-commerce-corporation-funds-programs" target="_blank">Innovation Voucher grant</a> from Rhode Island Commerce Corporation </h4>
			</div>		
			<div class="well well-lg">
				<h4> June, 2016: $250K seed investment, led by <a href="http://www.slaterfund.com/press/slater-technology-fund-commits-200000-to-wind-energy-company/" target="_blank">Slater Technology Fund</a></h4>
			</div>
			<div class="well well-lg">
				<h4> May, 2016: Aquanis, Inc. incorporated </h4>
			</div>
			<div class="well well-lg">
				<h4>April, 2016: <a href="Notre Dame licenses wind technology - South Bend Tribune_ Business.pdf" target="_blank">Plasma actuator technology licensed from University of Notre Dame</a></h4>
			
			</div>
		</div>

	</div>

</div>
<!-- /.container -->