<!-- Page Content -->

<div class="container">

	<div class="row">

		<div class="col-lg-12">
			<h1 class="page-header">Technology</h1>
		</div>

	</div>
	<!-- /.row -->

	<div class="row">

		<div class="col-lg-12">
			<img class="img-responsive" src="images/shutterstock_133864151 1400x350.jpg">
			<h2 class="page-header">Optimizing Aerodynamic Performance with Plasma Actuators</h2>
		</div>

	</div>
	<!-- /.row -->

	<!-- Service Paragraphs -->

	<div class="row">
		<div class="col-sm-offset-1 col-sm-5">
			<p>
				<strong>Plasma actuator: A purely electric bladeless fan. </strong>A plasma actuator is a solid-state electrical device that consists of a thin layer of insulating material (a dielectric) separating a pair of offset electrodes.  When the voltage difference between the covered electrode and the exposed electrode is high, the air close to the surface ionizes (an ionized gas is called a plasma).  The interaction between the plasma and the surrounding air induces air flow along the surface of the actuator.

			</p>
		</div>

		<div class="col-sm-5">
			<img class="plasma-image" src="images/plasma actuator_rev_1.jpg"/>
		</div>

	</div>
	<!-- /.row -->
	<div class="row">
		<div class="separatoer"></div>

	</div>
	<div class="row video-row">
		<div class="col-sm-offset-1 col-sm-5">
			<p>
				<strong>Modulating aerodynamic behavior without moving parts. </strong>Plasma actuators can be attached to any aerodynamic surface.  This video shows how an array of plasma actuators can mitigate airflow separation and delay stall on a wing in a wind tunnel.
			</p>
			<p>
				Read more about plasma flow control in NOVA Next article: <a href="http://www.pbs.org/wgbh/nova/next/space/plasma-air-control/" target="_blank">"Flying with the Fourth State of Matter"</a>

			</p>
		</div>

		<div class="col-sm-5">
			
			<video
			controls
			poster="images/Plasma-Flow.png"
			onclick="this.play();"
			src="images/Plasma-Flow-Control-on-a-Wind-Turbine-Section.mp4"
			type="video/mp4"
			class="plasma-image"
			></video>
		</div>

	</div>

	<div class="row">
		<div class="separatoer"></div>
	</div>
</div>
<!-- /.container -->
