<footer>
	<div class="container">
		<div class="row footer">
			<div class="col-md-6  col-md-push-6" align="right">
				<p dir="rtl">
					דר&quot; יאיר גורצק
					<p>
						052-7360221:<b dir="rtl">טלפון</b>
					</p>
					<p>
						<a dir="rtl" href="mailto:yair@post.bgu.ac.il" title="דוא&quot;ל">yair@post.bgu.ac.il</a> <b>:דוא״ל</b>
					</p>
			</div>
			<div class="col-md-6  col-md-pull-6">
				<p>
					Dr. Yair Gortzak MD, MSc
				</p>
				<p>
					<b>Phone:</b> 052-7360221
				</p>
				<p>
					<b>Email To:</b> <a href="mailto:yair@post.bgu.ac.il">yair@post.bgu.ac.il</a>
				</p>
			</div>
		</div>
		<p class="copy-right" align="center">&copy; 2017 Dr. Yair Gortzak, Site Powered by ElanNoy Creations&reg;, All Rights Reserved</p>
	</div>
</footer>