<div class="container">
  <div class="row image">
    <h1>Multiple UI and animation demos</h1>
    <h2>Hide and show
    </h2>
    <div [@popOverState]="stateName">
      <p>Hide and seek!</p>
    </div>
    <button (click)="toggle()">Toggle PopOver</button>
    <hr>
  </div>
  <div class="row">
    <h2>Animation</h2>
    <div [@photoState]="move" class="image-animation">
      <img src="./assets/small-galaxy.jpg" class="image1">
    </div>
    <button (click)="getmove()">Move Image</button>
    <button (click)="getenlarge()">Enlarge Image</button>
    <button (click)="getspin()">Spin Image</button>
    <h4>{{move}}</h4>
    <hr>
  </div>
  <div class="row">
    <h2>mixing images</h2>
    <div>
      <button (click)="sqToCircle()">MIX</button>
      <div class="box rotate" [ngClass]="{'box': boxClass, 'circle': !boxClass} ">

      </div>
    </div>
    <hr>
  </div>
  <!-- ************************ accordion *************************** -->
  <div class="row">
    <h2>Accordion demonstration</h2>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          <h4 class="panel-title">
            Collapsible Group 1
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          <h4 class="panel-title">
            Collapsible Group 2
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          <h4 class="panel-title">
            Collapsible Group 3
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <h2>Date Picker</h2>
      <div class="col-md-6">
        <kendo-datepicker (blur)="onBlur()" (focus)="onFocus()" (open)="onOpen()" (close)="onClose()" (valueChange)="onChange($event)"
          [value]="value">
        </kendo-datepicker>
      </div>
      <div class="datepicker">
        <p>Select a date:</p>
        <kendo-datepicker [(value)]="value"></kendo-datepicker>
      </div>`
    </div>

    <h2>Calendar</h2>
    <div class="container-fluid">
      <div class="row">
        <kendo-calendar [value]="value" [focusedDate]="focusedDate"> </kendo-calendar>

      </div>
    </div>
  </div>
</div>